*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    
} 
.bg{
    width:100;
    min-height:100vh; 
    background-image: url(sunset-1373171__480.jpg);
    background-size:cover ;
    background-position: bottom;
    padding: 0 0;
  } 

nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px 0;
}
.logo{
    width: 180px;
    height: 100px;
    cursor: pointer;
}
nav ul{
    list-style:none;
    width: 100%;
    text-align: right;
    padding-right: 60px ;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
}
.btn{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border: 0;
    outline:0;
    border-radius: 10px;
    background:lightseagreen;
    color:#fff;
    font-weight: 500;
    cursor:pointer;
}
.btn img{
    width:20px;
    margin-right: 10px;
}
.content{
    margin-top:14px;
    color:rgb(0, 0, 0);
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 25px;
    margin-top: 80px;
    margin-left:10px;
   
}
.content form{
    display:flex;
    align-items: center;
    background:rgba(182, 193, 197, 0.336);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;

}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;

}
.content.btn{
    font-size:15px;
    padding: 10px 30px;
}
.content p{
    font-size: 16px;
    padding-left: 10px;

}
.content.btn{
    font-size:15px;
    padding: 10px 30px;
}
p.pp{
    font-size: 20px;
    padding-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo2 {
    padding: 10px 500px;
    width: 100%;
}
